<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenzhiheng.mapper.UserCollectQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.chenzhiheng.model.UserCollectQuestion" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="carete_time" property="careteTime" jdbcType="TIMESTAMP" />
    <result column="updata_time" property="updataTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, question_id, carete_time, updata_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.chenzhiheng.model.UserCollectQuestionKey" >
    select 
    <include refid="Base_Column_List" />
    from user_collect_question
    where user_id = #{userId,jdbcType=INTEGER}
      and question_id = #{questionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.chenzhiheng.model.UserCollectQuestionKey" >
    delete from user_collect_question
    where user_id = #{userId,jdbcType=INTEGER}
      and question_id = #{questionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chenzhiheng.model.UserCollectQuestion" >
    insert into user_collect_question (user_id, question_id, carete_time, 
      updata_time)
    values (#{userId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{careteTime,jdbcType=TIMESTAMP}, 
      #{updataTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chenzhiheng.model.UserCollectQuestion" >
    insert into user_collect_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="careteTime != null" >
        carete_time,
      </if>
      <if test="updataTime != null" >
        updata_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="careteTime != null" >
        #{careteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenzhiheng.model.UserCollectQuestion" >
    update user_collect_question
    <set >
      <if test="careteTime != null" >
        carete_time = #{careteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and question_id = #{questionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenzhiheng.model.UserCollectQuestion" >
    update user_collect_question
    set carete_time = #{careteTime,jdbcType=TIMESTAMP},
      updata_time = #{updataTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
      and question_id = #{questionId,jdbcType=INTEGER}
  </update>
</mapper>