<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czh.shishuo.admin.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.czh.shishuo.model.UserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_sex" jdbcType="BIT" property="userSex" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="user_desc" jdbcType="VARCHAR" property="userDesc" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_age, user_sex, user_email, user_phone, user_nickname, user_desc, update_time, 
    user_avatar, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.czh.shishuo.model.UserInfo">
    insert into user_info (user_id, user_age, user_sex, 
      user_email, user_phone, user_nickname, 
      user_desc, update_time, user_avatar, 
      create_time)
    values (#{userId,jdbcType=INTEGER}, #{userAge,jdbcType=INTEGER}, #{userSex,jdbcType=BIT}, 
      #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userNickname,jdbcType=VARCHAR}, 
      #{userDesc,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{userAvatar,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.czh.shishuo.model.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userNickname != null">
        user_nickname,
      </if>
      <if test="userDesc != null">
        user_desc,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userAvatar != null">
        user_avatar,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=BIT},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userDesc != null">
        #{userDesc,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAvatar != null">
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czh.shishuo.model.UserInfo">
    update user_info
    <set>
      <if test="userAge != null">
        user_age = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=BIT},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userDesc != null">
        user_desc = #{userDesc,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAvatar != null">
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czh.shishuo.model.UserInfo">
    update user_info
    set user_age = #{userAge,jdbcType=INTEGER},
      user_sex = #{userSex,jdbcType=BIT},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_desc = #{userDesc,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>