<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czh.shishuo.admin.dao.UserFollowUserMapper" >
  <resultMap id="BaseResultMap" type="com.czh.shishuo.model.UserFollowUser" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="user_followed_id" property="userFollowedId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_followed_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.czh.shishuo.model.UserFollowUserKey" >
    select 
    <include refid="Base_Column_List" />
    from user_follow_user
    where user_id = #{userId,jdbcType=INTEGER}
      and user_followed_id = #{userFollowedId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.czh.shishuo.model.UserFollowUserKey" >
    delete from user_follow_user
    where user_id = #{userId,jdbcType=INTEGER}
      and user_followed_id = #{userFollowedId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.czh.shishuo.model.UserFollowUser" >
    insert into user_follow_user (user_id, user_followed_id, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{userFollowedId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.czh.shishuo.model.UserFollowUser" >
    insert into user_follow_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userFollowedId != null" >
        user_followed_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userFollowedId != null" >
        #{userFollowedId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czh.shishuo.model.UserFollowUser" >
    update user_follow_user
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and user_followed_id = #{userFollowedId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czh.shishuo.model.UserFollowUser" >
    update user_follow_user
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
      and user_followed_id = #{userFollowedId,jdbcType=INTEGER}
  </update>
</mapper>